body > .container {
    max-width: 36rem;
}

#nav-bar {
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    z-index: 10;
    background-color: rgb(33, 37, 41);
}

#nav-bar a {
    color: White;
}